:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(0, 0, 0, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --vh: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-width: 3.2rem;
    background-color: #F5F5F5;
}

html {
    font-size: 62.5%; /* 10px === 1rem */
    -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/
    -moz-text-size-adjust: none; /*Firefox*/
    -ms-text-size-adjust: none;  /*Ie*/
    /* 데스크탑/태블릿 환경 스타일 (768px, 500px) */
    @media (max-width: 981px) {
        font-size: 60%;
    }
    @media (max-width: 768px) {
        font-size: 58%;
    }
    @media (max-width: 640px) {
        font-size: 56%;
    }
}


